{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="hero is-link" style="background-image: url('{%static "img/bg.png" %}')">
<div class="hero-head">
    {% include 'blog/navbar.html' %}
</div>

<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title">
            Blog
        </h1>
    </div>
    </section>
    <section class="section">
        <div class="columns">
            <div class="column "></div>
            <div class="column is-two-thirds">
                <div class="tabs main-tabs">
                    <ul>
                        <li class="is-active">
                            <a href="/">Najnowsze</a>
                        </li>
                        <li>
                            <a href="plugins">Polecane</a>
                        </li>
                        <li>
                            <a href="elements">FAQ</a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="column"></div>
        </div>
    </section>

<div class="container">
  {% include "blog/grid_blog.html" %}
</div>

{% include "blog/divider_info.html" %}
{% include "blog/footer.html" %}
{% endblock %}

