{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<section class="hero is-link is-medium" style="background-image: url('/static/img/bg.png')">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
        {% include "blog/navbar.html" %}
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Narzędzia analizujące witryny
                </h1>
                <h2 class="subtitle">
pod kątem SEO.                 </h2>
                <p></p>

                <a href="{% url 'app:appindex' %}" class="button is-rounded is-medium testuj"><span>⚙️</span><span>Testuj</span></a>

            </div>
        </div>
    </section>

    <div class="hero-body">

        <div class="container">
            <div class="section-header columns has-text-centered is-centered">
                <div class="column is-6">
                    <h3 class="section title has-text-centered">Jak to działa?</h3>
                </div>
            </div>

            <div class="columns is-centered has-text-centered">
                <div class="column is-4">
                    <article class="bundlecard card ">
                        <div class="card-content">
                            <img src="{%static "img/bundle.png" %}" alt="bundle">

                            <p>Monitorowanie serwisu pod względem SEO.</p>
                        </div>
                    </article>
                </div>

                <div class="column is-4">
                    <article class="bundlecard card ">
                        <div class="card-content">
                            <img src="{%static "img/bundle2.png" %}" alt="bundle">
                            <p>Zarządzanie projektem </p>
                        </div>

                    </article>

                </div>

            </div>
        </div>
    </div>

{% include "blog/divider_info.html" %}
{% include "blog/footer.html" %}
{% endblock %}