{% block content %}
{% load static %}
<section class="section">
    <footer class="app-footer">
        <div class="container">
            <div class="columns is-multiline is-mobile">
                <div class="column is-12-mobile is-4-tablet">
                    <div class="closure"><a href="/" class="is-inline-block" title=""><img src="{%static "img/logo-min-grey.png" %}" alt="logo"></a>

                        <hr class="spacer is-1-5">
                        <p>Narzędzia analizujące witryny pod kątem SEO. </p>
                        <hr class="spacer is-1-5">
                    </div>
                </div>
                <div class="column is-12-mobile is-2-tablet">
                    <div class="menu">
                        <h3 class="menu-label"> Dołącz teraz </h3>
                        <ul class="menu-list">
                            <li> <a href="/zarejestruj/">Zarejestruj</a> </li>
                            <li>
                                <a href="/zaloguj/">Zaloguj</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="column is-12-mobile is-2-tablet">
                    <div class="menu">
                        <h3 class="menu-label">Informacje</h3>
                        <ul class="menu-list">
                            <li> <a href="/">Porady</a> </li>
                            <li> <a href="/">FAQ</a> </li>
                            <li> <a href="/team">Blog</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="column is-12-mobile is-2-tablet">
                    <div class="menu">
                        <h3 class="menu-label"> Social </h3>
                        <ul class="menu-list">
                            <li>
                                <a href="https://twitter.com/" target="_blank" title="Twitter">Twitter</a>
                            </li>
                            <li> <a href="https://www.facebook.com/" target="_blank" title="Facebook">Facebook</a>
                            </li>
                            <li> <a href="https://www.instagram.com/" target="_blank" title="Instagram">Instagram</a> </li>
                            <li> <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn">LinkedIn</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="column is-12-mobile is-2-tablet">
                    <div class="menu">
                        <h3 class="menu-label"> Kontakt </h3>
                        <ul class="menu-list">
                            <li> Seotools </li>
                            <li> <a class="is-nowrap" href="mailto:team-us@hellogustav.com">kontakt@domena.pl</a> </li>
                            <li> <a class="is-nowrap" href="tel">+48 400400400</a> </li>
                        </ul>
                    </div>

                </div>
                          </div>
        </div>
    </footer>
</section>
{% endblock %}