{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero is-link is-medium" style="background-image: url('static/img/bg.png')">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
        {% include "navbar.html" %}
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Pellentesque congue maximus
                </h1>
                <h2 class="subtitle">
                    Donec ante risus, bibendum in diam in, facilisis pellentesque urna.
                </h2>
                <p></p>

                <a href="/app" class="button is-rounded is-medium testuj"><span>⚙️</span><span>Testuj</span></a>

            </div>
        </div>
    </section>

    <div class="hero-body">

        <div class="container">
            <div class="section-header columns has-text-centered is-centered">
                <div class="column is-6">
                    <h3 class="section title has-text-centered">Jak to działa?</h3>
                </div>
            </div>

            <div class="columns is-centered has-text-centered">
                <div class="column is-4">
                    <article class="bundlecard card ">
                        <div class="card-content">
                            <img src="{%static "img/bundle.png" %}" alt="bundle">

                            <p>Many services, many logins, many dollars.</p>
                        </div>
                    </article>
                </div>

                <div class="column is-4">
                    <article class="bundlecard card ">
                        <div class="card-content">
                            <img src="{%static "img/bundle.png" %}" alt="bundle">
                            <p>One platform for all your sites and services.</p>
                        </div>

                    </article>

                </div>

            </div>
        </div>
    </div>

{% include "divider_info.html" %}
{% include "footer.html" %}
{% endblock %}