{% extends 'fullhero.html' %}
{% load static %}
{% block formularz %}
            <div class="column is-half">
                <section class="bundlecard card ">
                    <div class="card-content ">

                        <div class="field">
                            <h1 class="color-blue title ">
                                Rejestracja
                            </h1>
                            <p class="control has-icons-left ">
                                {{register.email}}
                                <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>

              </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                {{register.password}}
                                <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
                            </p>
                        </div>
                         <div class="field">
                            <p class="control has-icons-left">
                                {{register.vpassword}}
                                <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
                            </p>
                        </div>
                        <div class="field">

                            <button class="button is-link">
                                Zaloguj
                            </button>

                        </div>

                        <p>Masz już konto - Zaloguj</p>
                    </div>
                </section>

            </div>
{% endblock %}