{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="columns">
{% include "app/sidebar_app.html" %}
      <div class="column is-9">
  {% include "app/breadcrumb.html" %}

       <section class="info-tiles">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Lista Projektów
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
<table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Projekt</th>
                            <th>Budżet</th>
                            <th>Do strony</th>
                        </tr>
                        </thead>
                         <tbody>
                                {% for i in Projekt %}
                         <tr>
                             <td>
                               {{ forloop.counter }}
                             </td>
                               <td>
                               <a href="/app/projekt/{{i.pk}} ">{{ i.projekt }}</a>
                             <td>
                               {{i.budzet}}
                             </td>
                               <td>
                             <a href="http://{{i.projekt}}"><i class="fas fa-link"></i></a>
                             </td>
                         </tr>
                          {% endfor %}
                         </tbody>
                    </table>
            {% for i in Projekt %}

            {% endfor %}


                </div>
              </div>
            </div>



      </div>
    </div>
  </div>
{% endblock %}