{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="columns">
{% include "app/sidebar_app.html" %}
      <div class="column is-9">
  {% include "app/breadcrumb.html" %}

       <section class="info-tiles">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Lista Projektów
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">

            {% for i in Projekt %}
                       <a href="{{ i.projekt }}"class="button">{{ i.projekt }}</a>
            {% endfor %}


                </div>
              </div>
            </div>


        </section>
          <section class="info-tiles">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                 Lista userów
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">

                              {% for i in Person %}
                       <a href="{{ i.name }}"class="button">{{ i.name }}</a>

            {% endfor %}

                </div>
              </div>
            </div>


        </section>
      </div>
    </div>
  </div>
{% endblock %}