{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="columns">
{% include "app/sidebar_app.html" %}
      <div class="column is-9">
  {% include "app/breadcrumb.html" %}

       <section class="info-tiles">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  Lista URLi
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                    <ul>
            {% for i in adresy_url %}
                       <a href="{{ i.url }}"class="button">{{ i.url }}</a>

            {% endfor %}
                      {% for i in Person %}
                       <a href="{{ i.name }}"class="button">{{ i.name }}</a>

            {% endfor %}
                        </ul>
                </div>
              </div>
            </div>


        </section>
      </div>
    </div>
  </div>
{% endblock %}