{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="columns">
{% include "app/sidebar_app.html" %}
      <div class="column is-9">
  {% include "app/breadcrumb.html" %}
<section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                  <div class="field is-grouped is-centered level">


                          <div class="media-left">
      <figure class="image is-64x64">
  <img src="{{ projekturl.image.url}}">      </figure>
    </div>
                      <h1 class="is-size-4">{{projekturl.projekt}}</h1>


          </div>
              </article>
            </div>
            <div class="tile is-parent ">
              <article class="tile is-child box">
                     {% if projekturl.active  %}
          <a class="button is-success">Aktywny</a>
          {% endif %}
                  {% if projekturl.brand == 'PM' %}
          <a class="button is-link">{{projekturl.brand}}</a>
          {% else %}
          <a class="button is-warning">{{projekturl.brand}}</a>
          {% endif %}

          <a class="button is-primary">{{projekturl.account}}</a>
          <a class="button is-primary is-outlined">{{projekturl.budzet}} zł</a>
                   <p></p>
              </article>
            </div>
          </div>
        </section>
<section class="info-tiles">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                 Lista linków
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">

                 1 URL

                </div>
              </div>
            </div>
        </section>

          <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                  dfgdfg
              </article>
            </div>
            <div class="tile is-parent ">
              <article class="tile is-child box">
               fdgfdgdf
              </article>
            </div>
          </div>
        </section>


      </div>
    </div>
  </div>
{% endblock %}



