{% load static %}
{% block sidebar %}
<div class="column is-3">
        <aside class="menu">
          <p class="menu-label">
            Główne
          </p>
          <ul class="menu-list">
            <li><a href="{% url 'app:appindex' %}"  class="is-active">Panel</a></li>
		  </ul>
			 <p class="menu-label">
            Zapytania
          </p>
		  <ul class="menu-list">
			  <li><a href="{% url 'app:wykres' %}">Wykres</a></li>
		  </ul>
          <p class="menu-label">
            Zapytania
          </p>
          <ul class="menu-list">
            <li><a href="/pageinfo">Informacje o stronie</a></li>
            <li>
              <a>Szczegółowe zapytania</a>
              <ul>
                <li><a href="/wykres">Wykres</a></li>
                <li><a href="/descriptioninfo">Opis</a></li>
                <li><a href="/h1info">H1</a></li>
			    <li><a href="/canonicalinfo">Canonical</a></li>
		    	<li><a href="/linksinfo">Liczba linków</a></li>
              </ul>
            </li>
              </aside>
      </div>
{% endblock %}