{% load static %}
{% block sidebar %}
<div class="column is-3">
    <div class="container">
        <aside class="menu">
          <p class="menu-label">
            Główne
          </p>
          <ul class="menu-list">
            <li><a href="{% url 'app:appindex' %}"  class="is-active">Panel</a></li>
		  </ul>
			 <p class="menu-label">
            Projekty
          </p>
		  <ul class="menu-list">
              <li><a href="{% url 'app:projekty' %}">Lista projektów</a></li>
			  <li><a href="{% url 'app:dodajurl' %}">Dodaj link</a></li>
               <li><a href="{% url 'app:wykres' %}">Wykres linków</a></li>
		  </ul>
          <p class="menu-label">
            Zapytania
          </p>
          <ul class="menu-list">
              <li><a href="{% url 'app:view1' %}">Skaracacz Urli</a></li>

              </aside>
      </div>
    </div>
{% endblock %}